/* Variables */

/* Colors */


// Shadows
$shadow: rgba(0, 0, 0, 0.25);
$light-shadow: rgba(0, 0, 0, 0.15);

/* Font */
$sm-fs: 0.9rem;
$md-fs: 1.5rem;
$lg-fs: 2rem;

/* Spacers */
$spacer-small: 1rem;
$spacer: $spacer-small * 1.5;
$spacer-md: $spacer * 2;
$spacer-lg: $spacer-md * 2;
$padding: 12.5%;
$m-padding: 6.25%;

