/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

/* My Code */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

/* Variables */
/* Colors */
/* Font */
/* Spacers */
.between-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.around-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.center-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.row {
  display: flex;
  align-items: center;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.75);
  z-index: 20000;
}

.loader {
  width: 48px;
  height: 48px;
  margin: auto;
  position: relative;
}

.loader:before {
  content: "";
  width: 48px;
  height: 5px;
  background: white;
  opacity: 0.25;
  position: absolute;
  top: 60px;
  left: 0;
  border-radius: 50%;
  animation: shadow 0.5s linear infinite;
}

.loader:after {
  content: "";
  width: 100%;
  height: 100%;
  background: #00c6d8;
  animation: bxSpin 0.5s linear infinite;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
}

@keyframes bxSpin {
  17% {
    border-bottom-right-radius: 3px;
  }
  25% {
    transform: translateY(9px) rotate(22.5deg);
  }
  50% {
    transform: translateY(18px) scale(1, 0.9) rotate(45deg);
    border-bottom-right-radius: 40px;
  }
  75% {
    transform: translateY(9px) rotate(67.5deg);
  }
  100% {
    transform: translateY(0) rotate(90deg);
  }
}
@keyframes shadow {
  0%, 100% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1);
  }
}
.movie-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
}
.movie-background::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0.35) 30%, rgba(0, 0, 0, 0.45) 40%, rgb(0, 0, 0) 100%);
}
.movie-background img {
  width: 100%;
  height: 100%;
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem 7.5%;
  padding-top: 2.25rem;
  z-index: 10000;
}

.navbar__title {
  color: white;
  font-size: 1.5rem;
  font-weight: 800;
  margin-right: 3rem;
}
.navbar__title span {
  color: #00c6d8;
}

.navbar__link {
  color: white;
  opacity: 0.85;
  text-decoration: none;
  margin-right: 1.5rem;
  font-weight: 500;
  transition: all 200ms ease-out;
}
.navbar__link:hover {
  color: #00c6d8;
}

.navbar__search-btn {
  outline: none;
  border: none;
  background: #00c6d8;
  border-radius: 50%;
  padding: 0.5rem;
  margin-right: 1rem;
  transition: all 200ms ease-out;
}
.navbar__search-btn svg {
  width: 1.5rem;
  height: 1.5rem;
}
.navbar__search-btn svg path {
  color: white;
}
.navbar__search-btn svg path:hover {
  cursor: pointer;
}
.navbar__search-btn:hover {
  cursor: pointer;
  background: #00909d;
  transform: scale(0.9);
}

.navbar__login {
  border: 2px solid white;
  border-radius: 25px;
  color: white;
  font-weight: 600;
  font-size: 0.9rem;
  padding: 0.5rem 3rem;
  text-decoration: none;
  transition: all 200ms ease-out;
}
.navbar__login:hover {
  background: #00c6d8;
  border-color: #00c6d8;
}

.navbar__profile {
  outline: none;
  border: none;
  background: #00d8b4;
  border-radius: 50%;
  padding: 0.5rem;
  transition: all 200ms ease-out;
}
.navbar__profile svg {
  width: 1.5rem;
  height: 1.5rem;
}
.navbar__profile svg path,
.navbar__profile svg circle {
  fill: white;
  stroke: white;
}
.navbar__profile:hover {
  cursor: pointer;
  background: #00b193;
  transform: scale(0.9);
}

.search-bar {
  position: relative;
  margin-right: 1rem;
}
.search-bar input {
  width: 20vw;
  outline: none;
  border: none;
  background: white;
  border-radius: 25px;
  padding: 0.5rem 1.5rem;
  margin-right: 0.75rem;
}
.search-bar .navbar__search-btn {
  margin-right: 0.5rem;
}
.search-bar__close {
  background: #00d8b4;
}
.search-bar__close:hover {
  background: #00b193;
}

.search-bar__error {
  position: absolute;
  left: 0;
  bottom: -5.5vh;
  background: #ff2b2b;
  font-size: 0.9rem;
  color: white;
  width: fit-content;
  border-radius: 25px;
  padding: 0.35rem 1.5rem;
}
.search-bar__error svg {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.25rem;
}
.search-bar__error svg path {
  fill: white;
}

.hero-content {
  width: 100vw;
  height: 100vh;
  object-fit: contain;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.hero__movie-info {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0.35) 30%, rgba(0, 0, 0, 0.45) 40%, rgb(0, 0, 0) 100%);
  padding: 0 7.5%;
}

.hero__release-date {
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 400;
  font-size: 1.275rem;
  margin-bottom: 0.5rem;
}

.hero__title {
  text-transform: uppercase;
  color: white;
  font-weight: 700;
  font-size: 6rem;
  margin-bottom: 2.25rem;
}

.hero__link {
  background: #00c6d8;
  font-size: 1.035rem;
  font-weight: 600;
  color: white;
  text-decoration: none;
  padding: 0.5rem 2.625rem;
  border-radius: 25px;
  margin-right: 1.5rem;
  transition: all 200ms ease-out;
}
.hero__link:hover {
  cursor: pointer;
  background: #00909d;
  transform: scale(0.95);
}

.hero__add {
  background: transparent;
  color: white;
  outline: none;
  border: none;
  font-size: 1.035rem;
  font-weight: 700;
}
.hero__add svg {
  width: 1.75rem;
  height: 1.75rem;
  margin-right: 0.75rem;
}
.hero__add svg path {
  fill: white;
}
.hero__add:hover {
  cursor: pointer;
  color: #00c6d8;
}
.hero__add:hover svg path {
  fill: #00c6d8;
}

.auth-container {
  width: 100vw;
  min-height: 100vh;
  padding-top: 12rem;
}

.auth-form {
  align-items: flex-start;
  background: rgba(9, 9, 9, 0.5);
  width: 65vw;
  min-height: 60vh;
  padding: 4.5rem 3rem;
  z-index: 100;
  border-radius: 10px;
  border: 2px solid white;
}

.auth-form__left {
  width: 45%;
  margin-right: 10%;
}

.auth-form__right {
  width: 45%;
}

.auth-form__title {
  color: white;
  font-size: 1.875rem;
  font-weight: 600;
  font-family: "Oswald", sans-serif;
  margin-bottom: 3rem;
}

.auth-form__link {
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 0.9rem;
  transition: all 200ms ease-out;
}
.auth-form__link span {
  color: #00c6d8;
}
.auth-form__link:hover {
  opacity: 0.65;
}

.auth-form__input-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1.5rem;
}

.auth-form label {
  color: white;
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.auth-form input {
  outline: none;
  border: 2px solid white;
  background: none;
  width: 100%;
  padding: 0.65rem 1.25rem;
  border-radius: 25px;
  color: white;
  font-weight: 600;
  transition: all 200ms ease-out;
}
.auth-form input:focus {
  border-color: #00c6d8;
}
.auth-form input::placeholder {
  font-weight: 500;
  color: rgba(255, 255, 255, 0.5);
}

.auth-form__error {
  color: #ff2b2b;
  padding: 0.75rem 0;
  font-size: 0.9rem;
  font-weight: 400;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  line-height: 1.25rem;
}
.auth-form__error svg {
  margin-right: 0.5rem;
}
.auth-form__error svg path {
  fill: #ff2b2b;
}

.auth-form__error-box {
  margin-bottom: 1rem;
}
.auth-form__error-box label {
  color: #ff2b2b;
}
.auth-form__error-box input {
  border: 2px solid #ff2b2b;
}

.auth-form__success-box input {
  border: 2px solid #27ff5d;
}

.auth-form__submit {
  width: 100%;
  outline: none;
  border: none;
  background: #00c6d8;
  color: white;
  border-radius: 25px;
  padding: 0.5rem 3rem;
  font-size: 0.9rem;
  font-weight: 600;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  transition: all 200ms ease-out;
}
.auth-form__submit:hover {
  cursor: pointer;
  background: #00909d;
}

.auth-form__logo {
  margin-bottom: 1rem;
}

.auth-form hr {
  border-color: rgba(255, 255, 255, 0.75);
  width: 90%;
  border-width: 2px;
  height: 1vh;
  margin-bottom: 1.5rem;
}

.auth-form__sub-title {
  color: white;
  text-align: center;
  font-size: 1.35rem;
  margin-bottom: 1.875rem;
}

.auth-form__google {
  width: 60%;
  outline: none;
  border: 2px solid white;
  background: none;
  color: white;
  font-weight: 600;
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
  text-align: center;
  border-radius: 25px;
  transition: all 200ms ease-out;
}
.auth-form__google svg {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.5rem;
}
.auth-form__google:hover {
  cursor: pointer;
  border-color: #00d8b4;
  background: #00d8b4;
}

body {
  overflow-x: hidden;
  font-family: "Oswald", sans-serif;
  background: black;
}

.App {
  font-family: "Oswald", sans-serif;
  padding-bottom: 6rem;
}/*# sourceMappingURL=main.css.map */