// Setup
@import "setup/reset";
@import "setup/vars";
@import "utils/alignments";

// Layout
@import "./layout/standalone/standalone";
@import "./layout/navbar/navbar";
@import "./layout/movie/movie";

// Pages
@import "./pages/home/home";
@import "./pages/auth/auth";
@import "./pages/search/search";
@import "./pages/movie/movie";
@import "./pages/genres/genres";

// Main Styles
body {
  overflow-x: hidden;
  font-family: $font;
  background: black;
}

.App {
  font-family: $font;
  padding-bottom: $spacer-lg;
}
